<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807336746313-khft9ts8r9li4cvme5bpjnhr1tdou3je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807336746313-khft9ts8r9li4cvme5bpjnhr1tdou3je</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807336746313-kd44ucrcq96j08sm9l5ihei70mtqrjp2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6RdElSxHExR7h1pkelaro-UHinoDhLko</string>
	<key>GCM_SENDER_ID</key>
	<string>807336746313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brie.mobile</string>
	<key>PROJECT_ID</key>
	<string>brie-24</string>
	<key>STORAGE_BUCKET</key>
	<string>brie-24.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807336746313:ios:653042d57511178f840e98</string>
</dict>
</plist>